<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看影讯</title>

    <!-- Bootstrap -->
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="css/bootstrap.min.css"  >
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"  >

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap-table.js"></script>
    <script src="js/locale/bootstrap-table-zh-CN.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Latest compiled and minified Locales -->
    <script src="js/bootstrap-table-export.js"></script>
    <script src="./js/common.js"></script>

</head>

<hr>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-1 column">

        </div>

        <!-- 添加影院信息表单-->
        <div class="col-md-11 column">
            <!-- 影院信息表格-->
            <table id="movieonshowtable" class="table table-hover">

            </table>
        </div>
    </div>
</div>


<script>
    var onshowid;
    $(function(){
        checkCookie();
        createtable();
    });

    /**
     * 影讯信息表格
     */
    function createtable() {
        var alltables = [];
        $.ajax({
            url: SERVER_URL + "/manageback/movieonshow/list",    //请求的url地址
            dataType: "json",   //返回格式为json
            async: false,//请求是否异步，默认为异步，这也是ajax重要特性
            type: "post",   //请求方式
            success: function (result) {
                alltables = result.data.list;
            },
            complete: function () {

            },
            error: function () {
            }
        });

        $('#movieonshowtable').bootstrapTable('destroy').bootstrapTable({
            //toolbar: '#toolbar',                //工具按钮用哪个容器
            striped: true,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   //是否显示分页（*）
            locale:'zh-CN',
            sortable: false,                     //是否启用排序
            sortOrder: "asc",                   //排序方式
            sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
            pageNumber: 1,                       //初始化加载第一页，默认第一页
            pageSize: 10,                       //每页的记录行数（*）
            pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
            search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            strictSearch: false,
            searchOnEnterKey: true,
            showRefresh: false,                  //是否显示刷新按钮
            minimumCountColumns: 1,             //最少允许的列数
            clickToSelect: true,                //是否启用点击选中行
            //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
            showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            detailView: false,                   //是否显示父子表
            columns: [{
                field: 'movieonshow.movieOnShowId',
                title: "影讯id",
                visible:false
            },{
                field: 'movie.title',
                title: "放映日期"
            },{
                field: 'movieonshow.showDate',
                title: "放映日期"
            },{
                field: 'movieonshow.showTime',
                title: "放映时间"
            },{
                field: 'cinema.cinemaName',
                title: "影院名"
            },{
                field: 'cinemahall.hallName',
                title: "影厅名"
            },{
                field: 'Desc',
                title: '操作',
                formatter : deleteFormatter
            }],
            data: alltables
        });

//        $('#movieonshowtable').on('click-row.bs.table', function (e, row, element)
//        {
//            console.log(row);
//
//        });

        function deleteFormatter(value, row, index) {
            onshowid = row.movieonshow.movieOnShowId;
            return [
                '<button  type="button" class="btn btn-primary btn-xs" onclick="deleteOnshow('+onshowid+')">删除</button>', ]
                .join('');
        }

    }

    function deleteOnshow(onshowid) {

        var data = {
            "id":onshowid
        }
        console.log(onshowid);
        $.ajax({
            url: SERVER_URL + "/manageback/movieonshow/delete",    //请求的url地址
            dataType: "json",   //返回格式为json
            async: false,//请求是否异步，默认为异步，这也是ajax重要特性
            data:data,
            type: "post",   //请求方式
            success: function (result) {
                alert("删除成功");
                createtable();
            },
            complete: function () {

            },
            error: function () {
            }
        });
    }
    
</script>


</body>
</html>